body {
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
}

/* navbar */
.nav-item {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

/* footer */
#footer {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #878787;
}

/*card*/
.h1 {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 47px;
  display: flex;
  align-items: center;
  color: #8bc525;
}
.number {
  font-family: "Prompt", sans-serif;
  font-style: bolder;
  font-size: 45px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-right: 13px;
}
.li {
  font-family: "Prompt", sans-serif;
  font-style: bold;
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  color: #878787;
}
.alt-baslik {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  align-items: center;
  color: #878787ea;
}
.text-small {
  font-family: "Prompt", sans-serif;
  font-size: 12px;
  align-items: center;
  color: #878787a6;
}
.hizmet { 
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  align-items: center;
  color: #8bc525;
}
