body {
  height: 100vh;
  width: 100%;
}

/* navbar */
.nav-item {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

/* hakkimizda */
.baslik-kurumsal {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  display: flex;
  align-items: center;
  color: #8bc525;
}

.baslik {
  font-size: 80px;
  color: #000;
}

.vmt-baslik {
  font-family: Bebas Neue;
  font-style: bold;
  font-size: 35px;
  display: flex;
  align-items: center;
  color: #8bc525;
}
.vmt-description {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #878787;
}
/* footer */
#footer {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #878787;
}
/*demo*/
.container1 {
  position: relative;
  max-width: 100%; /* Maximum width */
  margin: 0 auto ;/* Center it */
  opacity: 0.8;
}
.bottom-left{
  position: absolute;
  bottom: 8px;
  left: 20px;
  font-family: Bebas Neue;
  color: #000;
  font-size: 100px;
}
/*hakkımızda*/
.hakkimizda-baslik{
  color: #8bc525;
  font-family: Bebas Neue;
  font-size: 40px;
}

.lead {
  font-family: "Prompt", sans-serif;
  color: #878787;
  font-size: 25px;
  line-height: 40px;
}