body {
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
  }
  
  /* navbar */
  .nav-item {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
  }
  /* footer */
#footer {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #878787;
  }

  .modal-header {
    background: #8bc525;
    color: #fff;
    font-family: Bebas Neue;
    font-size: 25px;
}

.required:after {
    content: "*";
    color: red;
}

.hr{
    color:#8bc525;
	width: 90%;
    
}
.ref{
    font-family: Work Sans;
}
.modal-title{
    font-size: 30px;
}
.btn{
    background-color: #8bc525;
    border: none;
}  
